// fade
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// sidebar-logo-fade
.sidebar-logo-fade-enter-active,
.sidebar-logo-fade-leave-active {
  transition: opacity 1.5s;
}
.sidebar-logo-fade-enter-from,
.sidebar-logo-fade-leave-to {
  opacity: 0;
}
